.DS_Store
.rvmrc
tags
*.swp
*.swo
log/*
tmp/*
db/*.sqlite3
coverage
solr
public/system
public/projects
public/stylesheets
public/cache
public/javascripts/*_packaged.js
config/mailer.yml
config/database.yml
config/deploy.rb
doc/specs.html
doc/features.html
rerun.txt
*signal-auth*
