= render :layout => "shared/project", :locals => { :project => @deploy.project } do
  .deploy{:class => @deploy.status}
    .date= ago(@deploy.created_at)
    .output= @deploy.output.gsub("\n", "<br>")
