h1 {
  font-size: 100px;
  line-height: 10px;
}

.project.success, .project.failure {
  padding: 5px;
  padding-left: 10px;
  line-height: 50px;
}

.project > * {
  display: inline;
}

.project > .name, .url, .email {
  font-size: 50px;
  line-height: 60px;
}

.project > .url {
  display: block;
}

.project > .date {
  padding-left: 10px;
  font-size: 25px;
}

.success {
  background-color: #DDFFCC;
}

.failure {
  background-color: #FF1100;
}

.output {
  background: #111111 none repeat scroll 0 0;
  color: #FFFFFF;
  font-size: 0.825em;
  line-height: 1.5em;
  max-height: 50em;
  overflow: auto;
  padding: 0.5em;
}
