.build{:class => build.status}
  .author= build.author
  .comment= build.comment
  .date= ago(build.created_at)
  .output= .output= build.output.gsub("\n", "<br>").gsub("\e[0m", '</span>').gsub(/\e\[(\d+)m/, "<span class=\"color\\1\">")
