// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/utilities/links/hover-link";

// Page layout can be done using mixins applied to your semantic classes and IDs:

body, #header, .actions {
  background-color: #black;
  background: url(../images/bg.png);
}

body, #header, #content {
  a, a:active, a:visited {
    color: white;
  }
}

#content {
  background-color: white;
}

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  @include blueprint-scaffolding;


  #container {
    @include container;

    #header h1 {
      margin-top: 0.5em;
      font-family: monospace;
      font-weight: bold;
    }

    .actions {
      padding-top: 5px;
      font-size: 16px;
    }

    .projects .project .name {
      padding-left: 0;
    }

    div.project {
      .name, .author {
        font-weight: bold;
      }

      .name, .build .author, .build .comment, .build .date {
        padding-left: 20px;
        font-size: 20px;
      }

      .name {
        font-size: 30px;
      }

      .url, .email, .branch {
        display: none;
      }
    }

    .build {
      margin-bottom: 0;
      border: 0;
      padding: 0;

      .date {
        font-weight: lighter;
      }

      .output {
        overflow: auto;
        height: 400px;
        background-color: black;
        color: white;
        padding: 20px;

        .code {
          width: 1024px;
        }
      }
    }
  }

  #header, #content {
    @include column($blueprint-grid-columns, true);
  }

  .failure {
    @include error;
  }

  .building {
    @include notice;
  }

  .projects {
    @include border-radius;

    .project {
      border-bottom: 0px;
      margin-bottom: 0px;
      padding: 10px;
      font-size: 30px;

      .name {
        font-weight: 900;
        float:left;
        margin-right: 20px;
      }

      .date {
        font-weight: 100;
      }
    }

    a:last-child .project {
      border-bottom-width: 2px;
    }
  }

  form {
    @include blueprint-form;

    fieldset {
      border: 0;

      label {
        display: inline-block;
        width: 120px;
      }
    }

    input[type=url] {
      @extend input.text;
    }

    input[type=submit] {
      background: #222 url(../images/overlay.png) repeat-x;
      display: inline-block;
      padding: 5px 10px 6px;
      color: #fff;
      text-decoration: none;
      @include border-radius(6px);
      @include box-shadow;
      border: 0px;
      border-bottom: 1px solid rgba(0,0,0,0.25);
      position: relative;
      cursor: pointer
    }

    input[type=submit]:hover {
      background-color: #111;
      color: #fff;
    }

    ol {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
  }
}

body a {
  @include hover-link;
}

.color30 { color: #333; }
.color31 { color: #e33; }
.color32 { color: #3e3; }
.color33 { color: #ee3; }
.color34 { color: #33e; }
.color35 { color: #e3e; }
.color36 { color: #3ee; }
.color37 { color: #fff; }
