// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/utilities/links/hover-link";

.success, .failure, .building {
  margin-bottom: 0 !important;
  padding: 0 !important;
}

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  @include blueprint-scaffolding;

  background: url(../images/bg.png);

  #container {
    @include container;

    a, a:active, a:visited {
      @include hover-link;
      color: white !important;
    }

    header h1 {
      margin-top: 0.5em;
      font-family: monospace;
      font-weight: bold;
    }

    nav {
      padding-top: 5px;
      font-size: 16px;
    }

    .project {
      background-color: white;
      color: black;

      .name, .author {
        margin-left: 10px;
        font-weight: bold;
      }

      .name, .build .author, .build .comment, .build .date {
        font-size: 20px;
      }

      .name {
        font-size: 30px;
      }

      .url, .email, .branch {
        display: none;
      }

      &.success, .build.success {
        @include success;
      }

      &.failure, .build.failure {
        @include error;
      }

      &.building, .build.building {
        @include notice;
      }

      .build {
        border: 0px !important;

        .author, .comment, .date {
          margin-left: 10px;
        }
      }
    }

    .build {
      margin-bottom: 0;
      border: 0;
      padding: 0;

      .date {
        font-weight: lighter;
      }

      .output {
        overflow: auto;
        height: 400px;
        background-color: black;
        color: white;
        padding: 20px;

        .code {
          width: 1024px;
        }
      }
    }
  }

  .projects {
    @include column($blueprint-grid-columns, true);
    @include border-radius;

    .project {
      @include clearfix;
      border-bottom: 0px;
      margin-bottom: 0px;
      padding: 10px !important;
      font-size: 30px;

      .name {
        font-weight: 900;
        margin-right: 20px;
      }

      .date {
        font-weight: 100;
      }

      .name, .date {
        float: left;
      }
    }
  }

  form {
    @include blueprint-form;
    background-color: white;

    fieldset {
      border: 0;

      label {
        display: inline-block;
        width: 120px;
      }
    }

    input[type=url] {
      @extend input.text;
    }

    input[type=submit] {
      background: #222 url(../images/overlay.png) repeat-x;
      display: inline-block;
      padding: 5px 10px 6px;
      color: #fff;
      text-decoration: none;
      @include border-radius(6px);
      @include box-shadow;
      border: 0px;
      border-bottom: 1px solid rgba(0,0,0,0.25);
      position: relative;
      cursor: pointer
    }

    input[type=submit]:hover {
      background-color: #111;
      color: #fff;
    }

    ol {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
  }
}

.color30 { color: #333; }
.color31 { color: #e33; }
.color32 { color: #3e3; }
.color33 { color: #ee3; }
.color34 { color: #33e; }
.color35 { color: #e3e; }
.color36 { color: #3ee; }
.color37 { color: #fff; }
