- @projects.each do |project|
  = auto_discovery_link_tag :rss, project_path(project, :format => :rss), :title => project.name

.projects= render :partial => "shared/projects"

= hidden_field_tag :status_path, status_projects_path

%nav= link_to I18n.t(:new_project), new_project_path
