- @projects.each do |project|
  = auto_discovery_link_tag :rss, project_path(project, :format => :rss), :title => project.name

.projects= render :partial => "shared/projects"

= periodically_call_remote :url => projects_status_path, :update => '.projects', :method => :get

= link_to I18n.t(:new_project), new_project_path
