%Projects
  - for project in @projects
    %Project{:name => project.name, :activity => project.activity, :lastBuildStatus => project.status.try(:capitalize) || 'Unknown', :lastBuildTime => project.last_builded_at || '', :webUrl => project_path(project) }
